body{
	font-family: arial;
}
img.big{
	width: 200px;
	border: solid thin red;
	position: absolute;
	left: 20ex;
	top: 10ex;
}

img.tiny{
	width: 20px;
	border: solid thin red;
}

a{
	text-decoration: none;
}
.properties div div{
	display: inline-block;
}

.properties div div:first-child{
	width: 10ex;
}

.nav_button{
	border: solid thin black;
	padding: 1ex;
	margin: 1ex;
	border-radius: 0.5ex;
	width: 15ex;
	text-align: center;
	display: inline-block;
}
.properties div div:last-child{
	font-weight: bold;
}