body{
	font-family: times;
	font-size: 2ex;
	background-image: url("world.png");
	background-repeat: no-repeat;
	background-size: 260ex;
	padding-left: 5ex;
	background-color: azure;

}
img.big{
	width: 300px;
	border: solid thin #abebc6;
	position: absolute;
	left: 50ex;
	right: 100ex;
	top: 15ex;
}

img.tiny{
	width: 25px;
}

a{
	text-decoration: none;
}
.properties div div{
	display: inline-block;
}

.properties div div:first-child{
	width: 20ex;
	padding-top: 2ex;
}

.nav_button input{
	display: inline-block;
	background-color: #00ced1;
	font-family: Georgia;
	border: solid thin pink;
	padding: 1ex;
	margin: 1ex;
	border-radius: 0.4ex;
	width: 17ex;
	height: 7ex;
	text-align: center;
	font-size: 1.4ex;
	font-weight: bold;
}
.nav_button{
	display: inline-block;
}
.properties div div:last-child{
	font-weight: bold;
}
.button{
	border: solid thin pink;
	padding: 1ex;
	margin: 2ex;
	border-radius: 0.4ex;
	width: 7ex;
	text-align: center;
	display: inline-block;
	background-color:  #00ced1;
	font-family: Georgia;
}
.submit{
	border: solid thin pink;
	border-radius: 0.4ex;
	width: 8ex;
	height: 4ex;
	background-color:  #00ced1;
	font-family: Georgia;
	font-size: 20px;
	color: blue;
}
.submit1{
	border-radius: 0.6ex;
	width: 8ex;
	height: 4ex;
	font-family: Georgia;
	font-size: 20px;
	color: blue;
	margin-left: 9ex; 
	background-color:  #00ced1;
	margin-top: 10px;
}
.tex{
	width: 22ex;
	height: 3.5ex;
	font-weight: bold;
}
#createform{

	margin-left: 10ex;
	padding: 1ex;
	line-height: 28px;
}
#alpha a:link{
	background-color: #00ced1; 
	display: inline-block;
	border-radius: 4px;
	width: 20px;
	text-align: center;
}
#alpha a:hover{
	background-color: red; 
}

