<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<h1>World Factbook</h1>
		<div>There are {{w|length}} countries in in the world</div>
		<ul>
			{% for c in w %}
			<li><a href="/countryByname/{{c.name}}">
			<img src='{{c.flag}}' class="tiny"> {{c.name}}</a></li>
			{% endfor %}
		</ul>
		</div>
		<!-- <div class="nav_button">
			<a href="/begin/{{page_number - page_size}}">Previous</a>
		</div>
		<div class="nav_button">
			<a href="/begin/{{page_number + page_size}}">Next Page</a>
		</div> -->
	</body>
</html>